p,ul{
    color: black;
    text-align: justify;
    background: rgba(255, 255, 255, 0.567);
    border-radius: 20px;
    padding: 1em;
}
ul{
    padding: 2em;
}
li{
    color: black;
}
.container{
    padding: 2em;
}

.question{
    font-family: monospace;
    font-weight: bold;
    
}

.answer{
    font-family: 'Arial';
    text-align: justify;
}
