<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{toggled:!band}" id="accordionSidebar">
    
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active" routerLinkActive="active-link">
        <a class="nav-link" [routerLink]="['/inicioAdmin']">
            <i class="icon-home"></i>
            <span >Inicio</span></a>
    </li>
    <li class="nav-item active" routerLinkActive="active-link">
        <a class="nav-link" [routerLink]="['/altas']">
            <i class="icon-upload-cloud"></i>
            <span >Altas</span></a>
    </li>
   
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Consultas
    </div>

    <!-- Nav Item - Pages Collapse Menu Graficas -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGraficas"
            aria-expanded="true" aria-controls="collapseGraficas">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Graficar</span>
        </a>
        <div id="collapseGraficas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Graficar:</h6>
                <a class="collapse-item" href="#" [routerLink]="['/graficaExistenciaProd']">Existencias de Productos</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="icon-search" ></i>
            <span >Consultas</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header" >Consultas:</h6>
                <a  class="collapse-item" [routerLink]="['/consultaCompras']">Compras</a>
                <a  class="collapse-item" [routerLink]="['/consultaVentas']">Ventas</a>
                <a  class="collapse-item"[routerLink]="['/consultaUsuarios']">Usuarios</a>
                <a  class="collapse-item" [routerLink]="['/actualizarProducto']" >Productos</a>
            
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    

   

   

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="click()"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="assets/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>

