.navbar{
    
     border-bottom: 5px solid;
    
}
#logo{
    border: 5px double;
    border-radius: 50%;
    box-shadow: 5px 6px 5px;
}
//accesibilidad
[class^="icon-"]{
    font-size: 40px;
    color:black;
    text-shadow: 1px 3px 4px;
}
[class^="icon-d"]{
    font-size: 40px;
    color:antiquewhite;
    text-shadow: 1px 3px 4px;
}
a{
    cursor: pointer;
}

.dropdown-item:hover{
    background: rgb(145, 228, 145);
}
.dropdown a{
    font-weight: 800;    
    font-style: italic;

}
.dropdown-menu i{
    font-size: 30px;
}
/////termina accesibilidad
li a{
    color: antiquewhite !important;
    font-size: 1.5em;
}
.active{
    color:black !important;
    text-shadow: 1px 2px 6px !important;
}
h2{
    color:white;
    font-style: oblique;
    font-family: 'Affichage' !important;
    font-size: 3em ;
}
@media only screen and(max-width:987px){
    .collapse .navbar-nav li a,.form-inline,.dropdown-menu a{
            display:block !important;
            text-align: center !important;
            
    }
}