[class^="icon-"]{
    font-size: 40px;
    color:black;
}
a{
    cursor: pointer;
}
.dropdown button{
    display: block;
    float: right;
}
.dropdown-item:hover{
    background: rgb(145, 228, 145);
}
.dropdown a{
    font-weight: 800;    
    font-style: italic;

}
.dropdown-menu i{
    font-size: 30px;
}
h2{
    text-align: center;
    font-style: italic;
}