img{
    width: 80%;
    height: 30%;
}

.carrucel{
    width: 55%;
    height: 10%;
}

.active{
    background: red;
}

li{
    background: rgb(101, 183, 255);
}

h5,p{
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px black;
}

.partext{
    background-color: rgba(41, 66, 255, 0.499);
    border-radius: 20px;
    height: auto;
}

button{
    color: rgb(41, 41, 187);
}

