span{
    color: black;
    text-align:justify;
   float: right;

}
h1{
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
}
#imagen{
    display: flex;
    justify-content: center;
}
img{
    width: 100px;
    border-radius: 15px;

}
#progress{
    display: flex;
    justify-content: center;
}
.scrollable-menu{
    height: auto !important;
    max-height: 200px !important;
    overflow-x: hidden !important;
}