<div class="container">
    <h1>Editar Producto</h1>
    <form [formGroup]="myForm">
     
    <div class="row mt-2">
        <div class="col-sm col-md col-lg-4">
            <span>Nombre</span>
        </div>
        <div class="col-sm col-md col-lg-8">
            <input type="text" class="form-control" formControlName="nombre" >
        </div>
    
        
    </div>
    <div class="row mt-2">
        <div class="col-sm col-md col-lg-4">
            <span>Precio</span>
        </div>
        <div class="col-sm col-md col-lg-8">
            <input type="number" class="form-control" formControlName="precio" >
        </div>
    
        
    </div>
    <div class="row mt-2">
        <div class="col-sm col-md col-lg-4">
            <span>Cantidad</span>
        </div>
        <div class="col-sm col-md col-lg-8">
            <input type="number" class="form-control" formControlName="cantidad" >
        </div>
    
        
    </div>
    <div class="row mt-2">
        <div class="col-sm col-md col-lg-4">
            <span>Imagen</span>
        </div>
        <div class="col-sm col-md col-lg-8">
            <input #foto type="file"  (change)="mostrar($event)" >
            
        </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-lg-2"></div>
            <div class="col-sm col-md col-lg-8" id="imagen">
                <img [src]="imageUrl" alt="">
            </div>
        </div>
        <div class="row mt-4" *ngIf="band">
            <div class="col-lg-4"><span>Subiendo datos</span></div>
            <div class="col-lg-4" >
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"  [ngStyle]="{'width.%':porcentaje|async}"></div>
            </div>
        </div>
        <div class="col-lg-4"></div>
        </div>
   
    <div class="button mt-4">
            <button type="submit" class="btn btn-danger" (click)="update()">Enviar</button>
            <button type="reset" class="btn btn-info ml-4">Limpiar</button>
    </div>
</form>
</div>