<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{toggled:!band}" id="accordionSidebar">
    
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img [src]="imagenLogIn" alt="" width="35" height="35">
        </div>
        <div class="sidebar-brand-text mx-3" >{{ user }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active" routerLinkActive="active-link">
        <a class="nav-link" [routerLink]="['/inicioUser']">
            <i class="icon-home"></i>
            <span>Inicio</span></a>
    </li>
   
    <li class="nav-item active" routerLinkActive="active-link">
        <a class="nav-link" [routerLink]="['/compras']">
            <i class="icon-shopping-cart" ></i>
            <span>Comprar</span></a>
    </li>
     
    <!-- <li class="nav-item active" routerLinkActive="active-link">
        <a class="nav-link" [routerLink]="['/graficar']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Grafica</span></a>
    </li> -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Consultas
    </div>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="click()"></button>
    </div>
</ul>