
@media only screen and(max-width:420px) {
    .cont{
        height: 100vh;
    }
    canvas{
        height: 300px !important;
    }
}
@media only screen and(min-width:820px) {
    .cont{
        height: 100vh;
    }
    canvas{
        height: 100vh !important;
        width: 80vw !important;
    }
}
/*
@media only screen and(max-width:960px) {
    .container{
        height: 200px;
    }
}
@media only screen and(max-width:540px) {
    .container{
        height: 200px;
    }
}
@media only screen and(min-width:1000px) {
    .container{
        height: 300px;
    }
} */