<!DOCTYPE html>
<html lang="en">

<head>

  

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">¿No tienes cuenta?<br>
                                            Que esperas! registrate ahora para obtener más beneficios
                                        </h1>
                                    </div>
                                    <form [formGroup]="myForm" (ngSubmit)="registrar()" class="user">
                                       
                                       
                                        <div class="form-group">
                                            <p *ngIf="this.myForm.get('correo')?.errors?.['required']">El campo no puede quedar vacio</p>
                                            <p *ngIf="this.myForm.get('correo')?.errors?.['email']">Correo invalido</p>
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Ingresa correo electronico..." formControlName="correo">
                                        </div>
                                        <div class="form-group">
                                            <p *ngIf="this.myForm.get('contrasena')?.errors?.['minlength']">(Debe tener minimo 7 caracteres)</p>
                                            <p *ngIf="this.myForm.get('contrasena')?.errors?.['required']">El campo no puede quedar vacio</p>
                                            
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Ingresa contraseña" formControlName="contrasena">
                                        </div>
                                        <div class="form-group">
                                            <p *ngIf="this.myForm.get('contrasena')?.errors?.['minlength']">(Debe tener minimo 7 caracteres)</p>
                                            <p *ngIf="this.myForm.get('contrasena')?.errors?.['required']">El campo no puede quedar vacio</p>
                                            
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Confirma contraseña" formControlName="contrasena2">
                                        </div>
                                        <p *ngIf="checarSiSonIguales()" style="text-align: center; color:red;">Las contraseñas no coinciden</p>
                                        
                                        <button  class="btn btn-primary btn-user btn-block"  [disabled]="myForm.invalid">
                                            Registrar
                                        </button>
                                        <hr>
                                        
                                    </form>
                                    <hr>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</body>

</html>