<div  style="padding: 1em;">
<div class="card p-3 text-justify tar" >
  <blockquote class="blockquote mb-0 lema">
    <p class="lema-text"><strong >Innovación de hoy para el éxito del mañana.</strong></p>
    <footer class="blockquote-footer">
      <small class="text-muted">
        Electronica Halcón
      </small>
    </footer>
  </blockquote>
</div>
</div>
<div class="card-columns" >
  
    <div class="card" *ngFor="let prod of misProd">
      <img src="{{prod.imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_h}"
        >{{prod.nombre  | capitalizacionPipe:true}}</h5>
       <p class="card-text"  [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}">{{prod.descripcion}}</p>

        
        
      </div>
    </div>
   
   
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p  [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}"
        >Si deseas conocer precios y mas información de los productos registrate, es gratis!</p>
        <footer class="blockquote-footer text-white">
          <small>
           
          </small>
        </footer>
      </blockquote>
    </div>
   
  </div> 

